# Copy file này thành .env.local và điền các thông số để chạy web
# Lấy từ: https://discord.com/developers/applications
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Mật khẩu bí mật dùng để mã hóa Session của NextAuth (Bạn có thể điền 1 chuỗi ngẫu nhiên, vd: super_secret_123)
NEXTAUTH_SECRET=super_secret_discord_tnc_bot_12345

# URL của Website hiện tại (để localhost nếu đang code)
NEXTAUTH_URL=http://localhost:3000
